@import url(//db.onlinewebfonts.com/c/0404a02439bbb1a13506bc6abbfa24e1?family=HorizontesScriptW00-Bold);

@font-face {
    font-family: "HorizontesScriptW00-Bold";
    src: url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.eot");
    src: url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.woff") format("woff"), url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0404a02439bbb1a13506bc6abbfa24e1.svg#HorizontesScriptW00-Bold") format("svg");
}