.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Cormorant', serif;
  //background: #fff;

  img {
    opacity: .9;
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
  }

  .info {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #191919;
    font-size: 18px;

    h1 {
      text-transform: uppercase;
      margin-bottom: 5px;
      letter-spacing: 6px;
      font-weight: 700;
    }

    h2 {
      text-transform: capitalize;
      font-size: 16px;
      margin-bottom: 5px;
      letter-spacing: 3px;
      font-weight: 400;
    }

    .link_div {
      margin-top: 12px;
      .a {
        font-family: 'Cormorant', serif;
        margin: 20px 10px 10px;
        font-size: 14px;
        color: #191919;
        text-decoration: none;
        font-weight: 400;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}







